.*
replica.my.cnf
node
tmp
node_modules
public_html/arch_old/
public_html/dist_old/
public_html/buildlist.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log